.table-main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    border: 1px solid #DDD;
    background: #FFF;
    overflow-x: auto;
}

.table-header {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
}

.table-header-column {
    display: flex;
    height: 46px;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #F8F8F8;
    min-width: 200px;
}

.table-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    width: 100%;
}

.table-body-column {
    display: flex;
    height: 46px;
    justify-content: center;
    align-items: center;
    background: #fff;
    flex: 1;
    min-width: 200px;
    flex-wrap: wrap;
}

.table-body-column.sticky-col {
    position: sticky;
    right: 0;
    z-index: 2;
    background: #fff; /* 背景色防止滾動時內容穿透 */
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.05);
    gap: 20px;
  }

  .table-header-column.sticky-col {
    position: sticky;
    right: 0;
    z-index: 3;
    background: #F8F8F8;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
  }
  
.editButton {
    display: flex;
    padding: 8px;
    align-items: flex-start;
    gap: 8px;
    border-radius: 6px;
    background: var(--SurfaceContainer-Low, #D9D9D9);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
}

.modal-content {
    display: flex;
    width: 400px;
    padding: 24px 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 5px 14px 0px rgba(0, 0, 0, 0.12);
}

.modal-content-title {
    color: var(--Grey-Grey-800, #626262);
    font-family: "Noto Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
}

.modal-content-subTitle {
    color: var(--Grey-Grey-800, #626262);
/* Noto Sans/Regular/text-base 14px Noto Sans */
    font-family: "Noto Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}

.modal-content-button {
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 6px;
    background: var(---Primary-Primary, #EB9A38);
    color: var(--Gray-Palette-100, #FFF);
    text-align: center;
    font-family: "Noto Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 171.429% */
}

.modal-content-button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    width: 100%;
}


.table-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 100%;
}

.kyc-table-status-allow {
    display: flex;
    padding: 4px 8px;
    align-items: flex-start;
    gap: 8px;
    border-radius: 16px;
    background: var(---correct-25, rgba(48, 245, 13, 0.25));
    color: var(---correct-100, #097201);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
}

.kyc-table-status-pending {
    display: flex;
    padding: 4px 8px;
    align-items: flex-start;
    gap: 8px;
    border-radius: 16px;
    background: var(---Error-red, #F76464);
    color: var(--Grey-Grey-100, #FFF);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
}

.kyc-table-status-reject {
    display: flex;
    padding: 4px 8px;
    align-items: flex-start;
    gap: 8px;
    border-radius: 16px;
    background: var(--Grey-Grey-600, #C1C1C1);
    color: var(--Grey-Grey-200, #F8F8F8);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
}

.kyc-table-status-button-allow {
    display: flex;
    padding: 8px;
    align-items: flex-start;
    gap: 8px;
    border-radius: 6px;
    background: var(---correct-25, rgba(48, 245, 13, 0.25));
}

.kyc-table-status-button-reject {
    display: flex;
    padding: 8px;
    align-items: flex-start;
    gap: 8px;
    border-radius: 6px;
    background: transparent;
}

.kyc-table-status-button-pending {
    display: flex;
    padding: 8px;
    align-items: flex-start;
    gap: 8px;
    border-radius: 6px;
    background: var(---SurfaceContainer-Highest, #F1DADA);
}
